@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Hypertherm Automation<br />
    5 Technology Drive Suite 300<br />
    West Lebanon, N.H. 03784<br/>
    <abbr title="Phone">Phone:</abbr>
    603-298-7970
</address>

<address>
    <strong>Support:</strong> <a href="https://www.hypertherm.com">Hypertherm.com</a><br />
</address>
